{% extends 'base.html.twig' %}

{% block title %}Blog - Accueil{% endblock %}

{% block body %}

    <h2>Bienvenue sur le Blog de Pauline !</h2>

    <div class="row">
        {% for article in articles %}

            <div class="card mb-3">
                <h3 class="card-header">{{ article.title }}</h3>
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <h4 class="card-subtitle text-muted">{{ article.author }}</h4>
                </div>
                <img class="card-img-top" style="width:18rem;" src="{{ article.image }}" alt="{{ article.title }}">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">{{ articles.category }}</a>
                </div>
                <div class="card-footer text-muted">
                    <p>Ecrit le {{ article.createdAt | date("m/d/Y") }} à {{ article.createdAt | date("H:i") }}</p>
                </div>
                <div class="card button">
                    <button type="button" class="btn btn-dark">Voir l'article</button>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}
